@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

.containerIconTitle {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.containerInputs {
    display: flex;
    /* flex-direction: column; */
    justify-content: space-around;
    width: 1000px;
}

.containerInputs input {
    width: 400px;
    margin-top: 10px;
    padding: 8px;
    font-family: 'Montserrat';
    font-weight: 600;
    display: flex;
}

.title {
    text-align: center;
}

.containerFigli{
    margin-bottom: 60px;
}

.inputsNomiFigli {
    display: flex;
    justify-content: center;
    align-items: center;
}

.inputsNomiFigli input {
    padding: 6px;
    margin: 5px 10px;
}

.inputsNomiFigli button {
    background-color: red;
    font-family: 'Montserrat';
    color: white;
    border: none;
    cursor: pointer;
    height: 30px;
    width: 100px;
    transition: 0.4s;
}

.inputsNomiFigli button:hover {
    background-color: rgb(156, 4, 4);
}

.titleFigli {
    text-align: center;
}

.containerInputNuoviFigli {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.containerInputNuoviFigli input {
    padding: 8px;
    margin-top: 5px;
}

.btnAggiungiFiglio {
    width: 200px;
    height: 60px;
    transition: 0.4s;
    background-color: rgb(28, 0, 187);
    font-family: 'Montserrat';
    color: white;
    border: none;
    cursor: pointer;
    
}

.btnAggiungiFiglio:hover {
    background-color: rgb(2, 2, 136);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;}

.containerBtnNuoviFigli {
    margin-bottom: 60px;
}

.btnAggiorna {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 60px;
}

.btnAggiorna button {
    height: 50px;
    width: 500px;
    cursor:pointer;
    border: none;
    background-color: rgb(9, 235, 9);
    color: rgb(85, 85, 85);
    transition: 0.4s;
}

.btnAggiorna button:hover {
    background-color: green;
    color: white;
    font-family: 'Montserrat';
    font-size: 20px;
}

.btnContainer {
    margin-bottom: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btnContainer button {
    padding: 8px;
    margin-right: 10px;
    font-family: 'Montserrat';
    font-weight: 600;
    cursor: pointer;
}

.titleElencoFigli {
    text-align: center;
}

.btnSblocca {
    cursor: pointer;
    background-color: white;
    width: 100px;
    height: 90px;
    margin-bottom: 25px;
    margin-left: 20px;
    color: rgb(2, 2, 2);
    font-family: 'Montserrat';
    transition: 0.4s;
    border: 0.05rem solid rgb(233, 232, 232);
    padding-top: 10px;
}

.btnSblocca:hover {
    background-color: none;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.sblocca {
    font-size: 35px;
}

