@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');


.btnIcon {
    background-color: white;
    /* border: none; */
    border: 0.05rem solid rgb(233, 232, 232);
    cursor: pointer;
    width: 110px;
    height: 90px;
    transition: 0.4s;
    margin: 0 5px;
    font-family: 'Montserrat';
    padding-top: 10px;
}

.edit {
    font-size: 35px;
}

.btnIcon:hover {
    background-color: none;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.btnDelete:hover {
    background-color: rgb(194, 7, 7);
    color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.btnEdit:hover {
    background-color: rgb(1, 136, 19);
    color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#homeIcon:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.contentIcons {
    margin-top: 25px;
}

a {
    list-style: none;
    text-decoration: none;
}